.container-save{
    text-align: center;
}

.icon-save-results{
    width:50px
}

.btn-save{
    border: none;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 415px) {

}