 .resultat-calcul{
    font-size: large;
    font-weight: 800;
    color: red;
}



.container-cheminDeVie-methode p,
.container-conjoncture-methode p,
.container-resultat-finale-methode p{
    font-size: 1.3em;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
.container-cheminDeVie-methode h2,
.container-conjoncture-methode h2,
.container-resultat-finale-methode h2,
.container-title-methode h1{
    color: #6e406d!important;
    font-family: 'Oswald', sans-serif;
}

.container-img-methode{
    background-image: url('../../../public/assets/wave.png');
    background-size: cover;
  
}

.container-wave{
    display: flex;
    justify-content: center;
}

.container-title-methode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 3rem;
}

.section-calcul{
    padding: 10px 0 10px 0;
}

/* au-dessus de 1025px */
@media screen and (min-width: 1025px) and (min-width: 1025px) {

    .container-img-methode{
        background-image: url('../../../public/assets/wave_1025.svg');
    }
}


/* jusqu'à 1024px */
 @media screen and (max-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 416px) and (max-width: 768px) {


}

@media screen and (max-width: 415px) {


} 