 
.link-home{
    background-color: #4E178D;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
}


.title-btn-home{
    font-size: 1.3rem;
    font-weight: 350;
}


.container-titles {
    text-align: center;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    opacity: 0.97;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem 0 1rem 0;
}

.container-part-home{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* au-dessus de 1367px */
@media screen and (min-width: 1367px) {

    .container-titles {
        width: 30%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .p-home{
        font-size: 1.5rem;
        font-weight:600;
        padding: 2%;
    }

    .p-home-mention{
        padding: 1rem;
    }

}


/* au-dessus de 1367px */
@media screen and (min-width: 1025px) and (max-width: 1366px){


    .container-titles {
        width: 30%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .p-home{
        font-size: 1.5rem;
        font-weight:600;
        padding: 2%;
    }

    .p-home-mention{
        padding: 1rem;
    }
}


/* jusqu'à 1024px */
 @media screen and (min-width: 769px) and (max-width: 1024px){

    
    .p-home{
        padding: 20px 20% 1rem 20%;
        font-size: 2rem;
        font-weight:600;
    }

    .p-home-mention{
        padding: 1rem;
    } 

}

/* jusqu'à de 768px */
@media screen and (min-width: 429px) and (max-width: 768px) {
    
    .container-titles{
        text-align: center;
        
    }
    
    .p-home{
        padding: 0px 50px 1rem 50px;
        font-size: 2rem;
        font-weight:600;
    }

    .p-home-mention{
        padding: 1rem;
    }

}

/* jusqu'à de 415px */
@media screen and (max-width: 428px) {

    .container-titles{
        padding: 1rem;
    }
    .p-home{
        font-size: 1.5rem;
        font-weight:600;
    }

    .p-home-mention{
        padding: 1rem;
    }
}
