


.link-home{
    padding: 1rem;
    background-color: #4E178D;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
}

.container-link-home{
    margin-top: 2rem;
}
.title-btn-home{
    font-size: 1.3rem;
    font-weight: 350;
}


.illustration-home{
    margin-top: 20px;
}


.container-img-home{
    background-image: url('../../../public/assets/wave_.svg');
        background-size: cover;
        height: 400px;
        background-repeat: no-repeat;
}

@media screen and (min-width: 769px) {

    .container-img-home{
        height: 273px;
    }

    .container-illustration{
        display: flex;
        justify-content: center;
    }

    .illustration-home{
        max-width: 20%;
    }


    .container-titles{
        text-align: center;
        margin-top: 2rem;
    }
    
    .p-home{
        padding: 0 20% 1rem 20%;
        font-size: 2rem;
        font-weight:600;
    }

    .p-home-mention{
        padding: 1rem;
    }

}


@media screen and (max-width: 768px) {

    .container-home{
        display: flex;
        flex-direction: column;
    }

    .container-illustration{
        display: flex;
        justify-content: center;
    }


    .container-titles{
        text-align: center;
        margin-top: 2rem;
    }
    
    .p-home{
        padding: 0 50px 1rem 50px;
        font-size: 2rem;
        font-weight:600;
    }

    .p-home-mention{
        padding: 1rem;
    }

}

@media screen and (max-width: 415px) {
    .container-img-home{
       background-image: url('../../../public/assets/wave_.svg');
       background-size: cover;
       height: 280px;
       background-repeat: no-repeat;
   } 

    .illustration-home{
        width: 50%;
    }

    .container-illustration{
        display: flex;
        justify-content: center;
    }


    .container-titles{
        text-align: center;
        margin-top: 2rem;
    }

    .p-home{
        padding: 1rem;
        font-size: 1.7rem;
        font-weight:600;
    }

    .p-home-mention{
        padding: 1rem;
    }
}