.bg-light {
    background-color: #f4e8dc!important;
}

.navbar-light .navbar-toggler {
    color: rgba(236, 13, 13, 0.55)!important;
    border-color: rgba(82,57,141,.1)!important;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&display=swap');
.title-nav{
    font-family: 'Noto Serif Display', serif;
    color: #52398d!important;
    font-weight: 600;
}


.navbar-nav li a {
    font-family: 'Noto Serif Display', serif;
    font-weight: bolder;
}



@media screen and (max-width: 768px) {

    .title-nav{
        font-family: 'Noto Serif Display', serif;
        color: #52398d!important;
        font-weight: 600;
        font-size: 1.9rem;
    }

    .nav-link{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 415px) {
    .nav-link{
        font-size: large;
    }

    .title-nav{
        font-size: 1.5rem;
    }

}