.container-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2em;
}

.link-github{
    color: #b17eeb;
}


@media screen and (max-width: 768px) {

    footer span{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 415px) {

    footer span{
        font-size: medium;
    }
} 

