
.container-result-infos{
    position:relative;
    background-color:#fff;
    z-index: 100;
    margin: auto 10%;
    padding: 10px;
    border-radius: 15px;
    top:50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-cheminDeVie{
    pointer-events: none;
}

.container-img-displayResults{
    background-image: url('../../../public/assets/wave.png')!important;
    background-size: cover;
    height: 250px;
}


.container-resultPart{
    cursor: pointer;
}

@media screen and (min-width: 1025px) {
    .container-img-displayResults{
        background-image: url('../../../public/assets/wave_1025.svg')!important;
        background-size: cover;
        height: 796px;
    }
}

@media screen and (max-width: 1024px) {
    .container-img-displayResults {
        height: 753px;
    }
}


@media screen and (max-width: 768px) {
    .container-img-displayResults {
        height: 717px;
    }
}

@media screen and (max-width: 415px) {

}