
.container-result-infos{
    position:relative;
    background-color:#fff;
    z-index: 100;
    margin: auto 10%;
    padding: 10px;
    border-radius: 15px;
    top:20%;
    opacity: 0.97;
}

@media screen and (max-width: 768px) {
     .container-img-displayResults{
        background-image: url('../../../public/assets/wave_.svg');
        background-size: cover;
        height: 800px;
        background-repeat: no-repeat;
    }

    .container-wave{
        display: flex;
        justify-content: center;
    }

    .illustration-results{
        position:absolute;
        margin-top: 80px;
        width: 100%;
        z-index: 1;
    }



}

@media screen and (max-width: 415px) {
    .container-resultPart{
        display: flex;
        padding: 1rem;
        justify-content: center;
        text-align: center;
    }

}