@import url('https://fonts.googleapis.com/css2?family=Comfortaa');

.container-iconNumber-archivage{
    display: flex;
}

.container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-archivage-line{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: pointer;
    margin-right: 20px;
}

.numbers-archives{
    display: flex;
}




.container-title-archive{
    font-family: 'Comfortaa', 'cursive';
    display: flex;
    color: #464646!important;
}

.container-main-archives{
    display: flex;
    justify-content: center;
    margin: 10% auto;
}


.container-archivage{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 1px;
    padding: 5px;
    margin-bottom: 10px;
}

.container-save-infos{
    background-color:#fff;
    border-radius: 15px;
    opacity: 0.97;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 32px;
}


.container-no-data{
    background-color:#fff;
    border-radius: 15px;
    opacity: 0.97;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 32px;
    width: max-content;
}

.no-data-save{
    text-align: center;
    font-size: larger;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
}

.container-btn-archive{
    display: flex;
    align-items: flex-end;
}

.container-number-conjoncture{
    display: flex;
    justify-content: center;
    align-items: center;
    width :40px;
    height: 40px;
}

.number-conjoncture{
    margin:0;
    color:rgb(82 57 141);
    font-size: larger;
}

@media screen and (min-width: 1025px) {
    .prenom-archive{
        font-size: 1.3em;
        font-weight: 500;
    }
}

@media screen  and (min-width: 769px) and (max-width: 1024px)  {

    .prenom-archive{
        font-size: larger;
        font-weight: 500;
    }

}


@media screen and (min-width: 416px) and (max-width: 768px) {

    .prenom-archive{
        font-size: 1.5em;
        font-weight: 500;
    }

    .number-conjoncture{
        font-size: 1.7em;
    }

}

@media screen and (max-width: 415px) {

    .prenom-archive{
        font-size: 1.2em;
        font-weight: 500;
    }
}